Flask
Flask-Login
Flask-RESTful
Flask-Limiter
Flask-Discord
flask_wtf
discord-webhook
SQLAlchemy-serializer
SQLAlchemy
Werkzeug
WTForms
waitress
requests
jinja2
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
urllib3==1.26.6