{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
     <h1>Заявка на права администратора</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="input-box">
            {{ form.discord_account.label }}<br>
            {{ form.discord_account(class="form-control", placeholder="@discord") }}<br>
        </div>
        <div class="remember-forgot">{{ form.license_agree(type="checkbox") }} {{ form.license_agree.label }}</div>
        <button type="submit" class="btn">Войти</button>
    </form>
    </div>
{% endblock %}