{% extends "base.html" %}

{% block content %}
<h1>Лицензионное соглашение</h1>
<h2>Пункт 1</h2>
<p>ВНИМАНИЕ! ЕСЛИ ВЫ СОЗДАЁТЕ ПЕРСОНАЛЬНУЮ СТРАНИЦУ, ЗАХОДИТЕ НА СВОЮ
ПЕРСОНАЛЬНУЮ СТРАНИЦУ ИЛИ СТРАНИЦУ ЛЮБОГО ДРУГОГО ЛИЦЕНЗИАТА
АВТОМАТИЗИРОВАННОГО ПРОГРАММНОГО КОМПЛЕКСА «BATINA» (ДАЛЕЕ ПОРТАЛ),
ЛИБО ЗАГРУЖАЕТЕ ИЛИ КОПИРУЕТЕ ЛЮБОЙ РАЗМЕЩЁННЫЙ НА НЕЙ КОНТЕНТ, ЛИБО ИНЫМ
СПОСОБОМ ИСПОЛЬЗУЕТЕ ПОРТАЛ, ТО ЭТИМ ВЫ АКЦЕПТУЕТЕ НАСТОЯЩЕЕ ЛИЦЕНЗИОННОЕ
СОГЛАШЕНИЕ И ПОДТВЕРЖДАЕТЕ СВОЁ СОГЛАСИЕ СО ВСЕМИ ЕГО УСЛОВИЯМИ БЕЗ КАКИХ-ЛИБО
ОГРАНИЧЕНИЙ.</p>
<h2>Пункт 2</h2>
<p>Портал — Автоматизированный программный комплекс, известный под именем
«Batina», размещенный на сайте в сети Интернет по адресу: Batina и доступный
Лицензиату через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая
собой результат интеллектуальной деятельности в форме программы для ЭВМ (ст.1261
Гражданского кодекса Российской Федерации). Портал представлен в объективной форме
совокупностью данных и команд, и порождаемых аудиовизуальных отображений (включая
входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные
и команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях
получения определённого результата в виде организации функционала Портала. Совокупность
данных и команд состоит из активированных и неактивированных данных и команд. Портал
позволяет Лицензиатам при наличии доступа во всемирную сеть Интернет создавать
персональные страницы и знакомиться с персональными страницами других Лицензиатов,
готовить процессуальные документы для совершения юридически значимых действий, подавать
процессуальные документы в суды Российской Федерации, осуществлять поиск информации о
других Лицензиатах, обмениваться личными сообщениями с другими Лицензиатами, размещать,
копировать и загружать фотографии и иной контент, пользоваться иными функциональными
возможностями Портала. Права использования данных и команд (активированных и
неактивированных) передаются Лицензиаром Лицензиату на условиях, определенных настоящим
Соглашением, а также ст.1280 Гражданского кодекса РФ. Оперирование и обслуживание Портала,
включая техническое и организационное сопровождение, осуществляется исключительно
Лицензиаром и представляет собой его обязательство (с учетом положений статьи 5 настоящего
Соглашения), обеспечивающее возможность предоставления прав Лицензиату. Участие
Лицензиатов на Портале происходит в интерактивном (онлайн) режиме посредством
подключения Лицензиата через всемирную сеть Интернет. Лицензиар является обладателем
необходимого объёма прав на Портал как программу для ЭВМ и на все составляющие её части,
взятые как в отдельности, так и в совокупности, а также порождаемые ею аудиовизуальные
элементы, за исключением Контента, не размещённого на Портале Лицензиаром, права на
элементы которого могут принадлежать третьим лицам. Лицензиар вправе осуществлять
использование, оперирование и распространение Портала на соответствующих территориях, где
он обеспечивает её использование, оперирование и распространение. </p>
{% endblock %}