{% extends "base.html" %}

{% block content %}
<h1>Лицензионное соглашение</h1>
<h2>Пункт 1</h2>
<p>ВНИМАНИЕ! ЕСЛИ ВЫ СОЗДАЁТЕ ПЕРСОНАЛЬНУЮ СТРАНИЦУ, ЗАХОДИТЕ НА СВОЮ
ПЕРСОНАЛЬНУЮ СТРАНИЦУ ИЛИ СТРАНИЦУ ЛЮБОГО ДРУГОГО ЛИЦЕНЗИАТА
АВТОМАТИЗИРОВАННОГО ПРОГРАММНОГО КОМПЛЕКСА «BATINA» (ДАЛЕЕ ПОРТАЛ),
ЛИБО ЗАГРУЖАЕТЕ ИЛИ КОПИРУЕТЕ ЛЮБОЙ РАЗМЕЩЁННЫЙ НА НЕЙ КОНТЕНТ, ЛИБО ИНЫМ
СПОСОБОМ ИСПОЛЬЗУЕТЕ ПОРТАЛ, ТО ЭТИМ ВЫ АКЦЕПТУЕТЕ НАСТОЯЩЕЕ ЛИЦЕНЗИОННОЕ
СОГЛАШЕНИЕ И ПОДТВЕРЖДАЕТЕ СВОЁ СОГЛАСИЕ СО ВСЕМИ ЕГО УСЛОВИЯМИ БЕЗ КАКИХ-ЛИБО
ОГРАНИЧЕНИЙ.</p>
<h2>Пункт 2</h2>
<p>Портал — Автоматизированный программный комплекс, известный под именем
«Batina», размещенный на сайте в сети Интернет по адресу: Batina и доступный
Лицензиату через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая
собой результат интеллектуальной деятельности в форме программы для ЭВМ (ст.1261
Гражданского кодекса Российской Федерации). Портал представлен в объективной форме
совокупностью данных и команд, и порождаемых аудиовизуальных отображений (включая
входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные
и команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях
получения определённого результата в виде организации функционала Портала. Совокупность
данных и команд состоит из активированных и неактивированных данных и команд. Портал
позволяет Лицензиатам при наличии доступа во всемирную сеть Интернет создавать
персональные страницы и знакомиться с персональными страницами других Лицензиатов,
готовить процессуальные документы для совершения юридически значимых действий, подавать
процессуальные документы в суды Российской Федерации, осуществлять поиск информации о
других Лицензиатах, обмениваться личными сообщениями с другими Лицензиатами, размещать,
копировать и загружать фотографии и иной контент, пользоваться иными функциональными
возможностями Портала. Права использования данных и команд (активированных и
неактивированных) передаются Лицензиаром Лицензиату на условиях, определенных настоящим
Соглашением, а также ст.1280 Гражданского кодекса РФ. Оперирование и обслуживание Портала,
включая техническое и организационное сопровождение, осуществляется исключительно
Лицензиаром и представляет собой его обязательство (с учетом положений статьи 5 настоящего
Соглашения), обеспечивающее возможность предоставления прав Лицензиату. Участие
Лицензиатов на Портале происходит в интерактивном (онлайн) режиме посредством
подключения Лицензиата через всемирную сеть Интернет. Лицензиар является обладателем
необходимого объёма прав на Портал как программу для ЭВМ и на все составляющие её части,
взятые как в отдельности, так и в совокупности, а также порождаемые ею аудиовизуальные
элементы, за исключением Контента, не размещённого на Портале Лицензиаром, права на
элементы которого могут принадлежать третьим лицам. Лицензиар вправе осуществлять
использование, оперирование и распространение Портала на соответствующих территориях, где
он обеспечивает её использование, оперирование и распространение. </p>
<h2>Пункт 3</h2>
<p>Лицензиар — Общество с ограниченной ответственностью «Оператор информационных
систем», которое предоставляет Лицензиату право использования Портала на условиях простой
(неисключительной) лицензии (пп.1 п.1 ст.1236 Гражданского кодекса РФ) и осуществляет
доведение до всеобщего сведения, распространение, оперирование, обслуживание,
администрирование Портала. Лицензиар является Стороной настоящего Соглашения.
1.3. Лицензиат — юридическое или физическое лицо, обладающее право- и дееспособностью для
заключения настоящего Соглашения, являющееся пользователем Портала, которому в
соответствии с настоящим Соглашением предоставляется право использовать Портал на условиях
настоящего Соглашения. Лицензиат является Стороной настоящего Соглашения.
1.4. Контент — размещённые на Портале элементы дизайна, иллюстрации, графические
изображения, фотографии, скрипты, тексты, видео, музыка, звуки и другие объекты, являющиеся в
том числе результатами интеллектуальной деятельности, права использования которых могут
принадлежать Лицензиару, Лицензиатам или иным лицам.
1.5. Приложения – размещённые на Портале Лицензиаром или с его согласия третьими лицами
программы для ЭВМ (электронные сервисы и т.д.) или их элементы, которые могут
использоваться Лицензиатом в рамках Портала дополнительно к основным функциям Портала.
Участие Лицензиата в Приложениях осуществляется на условиях, предусмотренных отдельными
соглашениями с третьими лицами.
1.6. Персональная страница – раздел Портала, содержащий часть размещаемой в Аккаунте
Лицензиата информации (в том числе, по желанию Лицензиата, фотографии, сведения о статусах
и прочее), доступный для ознакомления иным Лицензиатам. Персональная страница используется
Лицензиатом в целях обмена Личными сообщениями и осуществления иных действий. Доступ к
персональной странице может быть ограничен Лицензиатом для других пользователей в
пределах доступного функционала Портала или Лицензиаром согласно условиям настоящего
Соглашения.
1.7. Аккаунт Лицензиата (Аккаунт) – учётная запись Лицензиата, создаваемая в момент
регистрации на Портале, позволяющая Лицензиару учитывать каждого Лицензиата и
предоставлять права использования Порталом посредством уникального логина и пароля. Логин и
пароль для доступа к Аккаунту определяются Лицензиатом самостоятельно при регистрации на
Портале и могут быть изменены им в порядке, описанном в настоящем Соглашении или разделе
«Помощь» на странице Портала.
1.8. Личные сообщения – электронные сообщения, передаваемые одним Лицензиатом другому и
недоступные для ознакомления иным лицам, отправка и получение которых осуществляется с
использованием Персональной страницы Лицензиата.
1.9. Вознаграждение - плата за предоставление Лицензиату прав использования
неактивированных данных и команд в пределах, установленных настоящим Соглашением. Размер
вознаграждения определяется Лицензиаром и зависит от объёма неактивированных данных и
команд, право использования которых передается Лицензиату. Правилами Портала могут быть
предусмотрены иные условия получения прав использования неактивированных данных и
команд, а также ограничения по их использованию. Лицензиат может ознакомиться с указанными
правилами в соответствующих разделах Портала.
1.10. Пошлина - часть Вознаграждения за использование Портала и результатов, полученных в
ходе использования Портала. Размер Пошлины зависит от выбранных данных и команд.
1.11. Государственная пошлина — сбор, взимаемый с лиц, указанных в статье 333.17 Налогового
Кодекса, при их обращении в государственные органы, органы местного самоуправления, иные
органы и (или) к должностным лицам, которые уполномочены в соответствии с
законодательными актами Российской Федерации, законодательными актами субъектов
Российской Федерации и нормативными правовыми актами органов местного самоуправления, за
совершением в отношении этих лиц юридически значимых действий, предусмотренных
настоящей главой, за исключением действий, совершаемых консульскими учреждениями
Российской Федерации.</p>
<h2>Пункт 4</h2>
<p>1.12. Лицензионное соглашение — текст настоящего Соглашения, заключаемого между
Лицензиаром и Лицензиатом, содержащий все необходимые и существенные условия
лицензионного договора о предоставлении прав использования Портала, в том числе
неактивированных данных и команд. Неотъемлемой частью настоящего Соглашения являются
также правила поведения Лицензиата или правила совершения Лицензиатом определенных
действий, а также условия оплаты Вознаграждения и любые иные правила использования
Портала, размещенные Лицензиаром на соответствующих страницах Портала, в том числе в
разделе «Помощь», включая мобильную версию сайта и Приложения Лицензиара.
1.13. Сервис «Яндекс.Сплит» – сервис ООО «Яндекс Пэй» (ОГРН 1187746900428),
интегрированный в сервис Лицензиара, с помощью которого возможно заключить Договор
поручения, а также возможно использовать иной доступный функционал, связанный с Договором
поручения.
1.14. Договор поручения – договор поручения, заключаемый между ООО «Яндекс Пэй» и
Лицензиатом на условиях, опубликованных на сайте https://yandex.ru/legal/yandex_split/.
2. Условия присоединения к настоящему Соглашению
2.1. Перед тем как начать использование Портала, Лицензиат обязан ознакомиться с настоящим
Соглашением, а также со всеми применимыми на Портале правилами и иными документами,
которые размещены в соответствующих разделах Портала.
2.2. После заполнения обязательных полей и ознакомления с настоящим Соглашением Лицензиат
присоединяется (принимает) настоящее Соглашение, путем нажатия кнопки «Далее» или
аналогичной, что по смыслу ст.ст. 435 и 438 Гражданского кодекса РФ является принятием
(акцептом) оферты Лицензиара, а равно заключением договора, порождающего у Лицензиата
обязанности соблюдать условия Соглашения, в том числе применимых на Портале правил.
2.3. Фактическое использование Портала без регистрации Аккаунта, в форме и в объёме,
доступном без регистрации, также является акцептом настоящего Соглашения.
3. Предмет Соглашения
3.1. По настоящему Соглашению Лицензиар предоставляет Лицензиату на условиях простой
(неисключительной) лицензии (пп.1 п.1 ст.1236 Гражданского кодекса РФ) право использования
Портала, включая права использования активированных и неактивированных данных и команд в
пределах, определённых настоящим Соглашением.
3.2. Право использования активированных данных и команд предоставляется Лицензиату
бесплатно.
3.3. Право использования неактивированных данных и команд предоставляется Лицензиату за
вознаграждение, если Лицензиаром не предусмотрен иной способ его получения.
4. Пределы использования Портала
4.1. Лицензиат вправе использовать Портал следующими способами:
4.1.1. использовать функционал Портала, в том числе, участвовать в формировании Портала путём
создания Аккаунта и Персональной страницы и изменять содержание Портала и персональные
настройки Аккаунта в ходе такого участия посредством размещения и обработки информации и
Контента, взаимодействия с другими Лицензиатами с соблюдением предусмотренных настоящим
Соглашением правил;
4.1.2. воспроизводить элементы Портала в виде размещённой на ней информации и Контента для
личного использования посредством копирования в память своего персонального компьютера
и/или мобильного устройства (скачивания). В том случае, если элементы Контента являются
объектом авторских прав или личными изображениями (фотографиями) других Лицензиатов или
третьих лиц, Лицензиат при таком их воспроизведении обязан дополнительно получать согласие
таких лиц;
4.2. Лицензиату запрещено:
4.2.1. воспроизводить, распространять, перерабатывать в коммерческих или некоммерческих
целях элементы Портала, являющиеся объектом авторских прав Лицензиара, других Лицензиатов
или третьих лиц, при отсутствии разрешения соответствующих правообладателей на совершение
данных действий;
4.2.2. воспроизводить элементы дизайна или пользовательского интерфейса Портала при
создании сайтов или ведении любой коммерческой деятельности в сети Интернет или вне её;
4.2.3. распространять на/вне Портале(а) в коммерческих или некоммерческих целях
аудиовизуальные отображения и учётные данные других Лицензиатов, присутствующие на
Портале, без согласия этих Лицензиатов;
4.2.4. передавать предоставленные Лицензиату права использования Портала, другим
Лицензиатам или третьим лицам посредством заключения сублицензионного договора или иным
способом;
4.2.5. нарушать закреплённые в настоящем Соглашении (раздел 5) правила использования
Портала</p>
{% endblock %}