<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>{{title}}</title>
    <script defer src="../static/styles/script.js"></script>
</head>
<body>
<header class="header open">
    <div class="container header_container">
    <div class="navbar">
    <div class="icon-bar" onclick="menu_show()">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <a class="logo" href="/">BaTiNa</a>
    <ul id="nav-lists">
      <li class="close"><span onclick="menu_hide()">×</span></li>
      {% if current_user.is_authenticated %}
        <li><a href="/profile/{{ current_user.user_id }}" class="navbar_link"><img id="avatar_profile" src="data:image/png;base64,{{ navbar_data['profile_photo'] }}"><br>{{ navbar_data["name"] }}</a></li>
            {% if current_user.role == "1" %}
                <li><a href="/favs" class="navbar_link">Избранное</a></li>
                <li><a href="/orders" class="navbar_link">Мои заказы</a></li>
                <li><a href="/partnership" class="navbar_link">Партнерство</a></li>
                <li><a href="/discord_login" class="admin_link">Заявка на администратора</a></li>
            {% else %}
            <li><a href="/add_products" class="navbar_link">Добавить товар</a></li>
            {% endif %}
        <li><a href="/logout" class="navbar_link">Выйти</a></li>
        {% else %}
            <li><a href="/register" class="navbar_link">Регистрация</a></li>
              <li><a href="/login" class="navbar_link">Вход</a></li>
        {% endif %}
        <li><a href="/contacts" class="navbar_link">Контакты</a></li>
    </ul>
  </div>
  </div>
</header>
<!-- Begin page content -->
<article role="main" class="main">
    {% block content %}{% endblock %}
</article>
<footer>
        <div class="footer-content">
            <p>© 2024 BaTiNa</p>
            <a id="upper" onclick="scrollToTop()">Наверх</a>
        </div>
    </footer>

    <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</body>
</html>