<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Batina — интернет-магазин</title>
</head>
<body>
<header class="header">
    <a class="logo" href="/">BaTiNa</a>
    <nav class="navbar">
        {% if current_user.is_authenticated %}
        <a href="/profile/{{ current_user.id }}" class="profile_navbar"><img id="avatar_profile" src="data:image/png;base64,
           {{ navbar_data['profile_photo'] }}"></a>
        <a href="/profile/{{ current_user.id }}" class="profile_navbar">{{ navbar_data["name"] }}</a>
        <a class="img btn" href="/logout">Выйти</a>
        {% else %}
            <p>
                <a class="btn" href="/register">Регистрация</a>
                <a class="btn" href="/login">Вход</a>
            </p>
        {% endif %}
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="main">
    {% block content %}{% endblock %}
</main>
</body>
</html>