<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>{{title}}</title>
    <script defer src="../static/styles/script.js"></script>
</head>
<body>
<header class="header open">
    <div class="container header_container">
    <button class="burger">
        <span></span>
    </button>
    <a class="logo" href="/">BaTiNa</a>
    <nav class="navbar">
        <ul class="navbar_list">
        {% if current_user.is_authenticated %}
        <li class="navbar-item"><a href="/profile/{{ current_user.id }}" class="navbar_link_avatar"><img id="avatar_profile" src="data:image/png;base64,
           {{ navbar_data['profile_photo'] }}"><br><br>
        </a><a href="/profile/{{ current_user.id }}" class="navbar_link">{{ navbar_data["name"] }}</a></li>
            {% if current_user.role == "2" %}
                <li class="navbar-item"><a class="navbar_link" href="/my_products">Мои товары</a></li>
            {% elif current_user.role == "1" %}
                <li class="navbar-item"><a class="navbar_link" href="/favs">Избранное</a></li>
                <li class="navbar-item"><a class="navbar_link" href="/orders">Мои заказы</a></li>
                <li class="navbar-item"><a class="navbar_link" href="/partnership">Партнерство</a></li>
                <li class="navbar-item"><a class="admin_link" href="/admin_submission">Заявка на администратора</a></li>
            {% else %}
            <li class="navbar-item"><a class="navbar_link " href="/admin">Ссылка для админов</a></li>
            {% endif %}
        <li class="navbar-item"><a class="navbar_link" href="/logout">Выйти</a></li>
        {% else %}
            <li class="navbar-item"><a class="navbar_link" href="/register">Регистрация</a></li>
              <li class="navbar-item"><a class="navbar_link" href="/login">Вход</a></li>
        {% endif %}
            <li class="navbar-item"><a class="navbar_link" href="/contacts">Контакты</a></li>
        </ul>
    </nav>
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="main">
    {% block content %}{% endblock %}
</main>
</body>
</html>