{% extends "base.html" %}

{% block content %}
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/items.css">
    <title>{{title}}</title>
</head>
<div class="search-container">
  <input type="text" id="search-input" placeholder="Поиск..." class="search-box">
  <button type="button" id="search-button" class="search-button">Найти</button>
</div>
<ul class="products clearfix">
	{% for item in items %}
	{% if current_user.role == "0" or item["is_visible"] == 1 %}
		<li class="product-wrapper">
			<a href="/product/{{ item['id'] }}" class="product">
			<div class="product-photo">
				<img src="data:image/png;base64,{{ item['image'] }}" alt="">
			</div>
				<h1>{{ item["name"] }}</h1>
				<p>{{ item["description"] }}</p>
				<p>Цена: {{ item["price"] }}</p>
			</a>
		</li>
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}