{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
    <h1>Партнерство</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="input-box">
            {{ form.number_passport.label }}<br>
            {{ form.number_passport(class="form-control") }}<br>
            {% for error in form.number_passport.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input-box">
            {{ form.seria_passport.label }}<br>
            {{ form.seria_passport(class="form-control") }}<br>
            {% for error in form.seria_passport.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input-box">
            {{ form.inn.label }}<br>
            {{ form.inn(class="form-control") }}<br>
            {% for error in form.inn.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input-box">
            {{ form.bank_account.label }}<br>
            {{ form.bank_account(class="form-control") }}<br>
            {% for error in form.bank_account.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="remember-forgot">{{ form.license_agree(type="checkbox") }} {{ form.license_agree.label }}</div>
         <div class="register-link">
            <p>Лицензионное соглашение:<a href="/agree">Соглашение</a></p>
        </div><button type="submit" class="btn">Отправить заявку</button>
        <div class="register-link">{{ message }}</div>
    </form>
    </div>
{% endblock %}