{% extends "base.html" %}

{% block content %}
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/product_page.css">
    <title>{{title}}</title>
</head>
<body>
<div class="product-container">
    <div class="product">
        <div class="left-column">
            <img src="data:image/png;base64,{{ item['image'] }}" alt="">
        </div>
        <div class="right-column">
            <div class="product-description">
                <h1>{{ item["name"] }}</h1>
                <p>Описание товара: {{ item["description"] }}</p>
                {% if current_user.is_authenticated %}
                        {% if current_user.role == "0" %}
                            <p>Дополнительная информация:<br>
                                <b>ID-публикатора: {{ item["seller_id"] }}</b><br>
                                Категория товара: {{ item["category"] }}<br>
                                Количество товара на складе: {{ item["amount"] }}</p><br>
                        {% endif %}
                {% endif %}
                <div class="product-price">
                    <span>{{ item["price"] }} ₽</span>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == "1" %}
                            <a class="cart-btn g" href="/purchase/{{ item['id'] }}">Купить</a>
                        {% elif current_user.role == "0" %}
                            <a class="cart-btn y" href="/redact_item/{{ item['id'] }}">Редактировать</a>
                            <a class="cart-btn r" href="/delete_item/{{ item['id'] }}">Удалить</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
        {% if current_user.role == "1" %}
            <div class="review-section">
                <h3>Оставить отзыв</h3>
                <form action="/submit_review/{{ item['id'] }}" method="post">
                    <textarea name="review_text" placeholder="Оставьте ваш отзыв здесь" rows="4" cols="50"></textarea>
                    <input type="submit" value="Отправить отзыв">
                </form>
            </div>
        {% endif %}
    {% endif %}
    <!-- Блок с отзывами пользователей -->
        <h3>Отзывы пользователей</h3>
        {% for review in reviews %}
        <div class="user-reviews">
            <div class="review">
                <a href="/profile/{{ review['customer'] }}"><img class="avatar" src="data:image/png;base64,{{ review['avatar'] }}" alt="User Avatar"></a>
                <div class="review-details">
                    <h4>{{ review["name"] }}</h4>
                    <p>{{ review["text"] }}</p>
                    <p color="gray"><b>Опубликовано: {{ review["date"] }}</b></p>
                    {% if current_user.user_id == review["customer"] or current_user.role == "0" %}
                        <a class="cart-btn r" href="/delete_review/{{ review['id'] }}">Удалить</a>
                    {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
</div>
</body>
{% endblock %}
