{% extends "base.html" %}

{% block content %}
<head>
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/objects.css">
    <title>{{title}}</title>
</head>
<div class="sub_header">
    <a class="button-27" href="/add_products">Добавить товар</a>
</div>
<br>
<div class="container">
    <!-- ТОВАРЫ -->
</div>
{% endblock %}