* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    min-width: 600px;
    width: expression( document.body.clientWidth < 600 ? "600px" : "auto" );
    display: flex;
    min-height: 100vh;
    background: white no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    background: #000000;
    box-shadow: 0px 4px 21px -1px #4E4E51;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 100px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: block;
    border: 0;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
    background: none;
}
.burger span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}
.burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.logo {
    display: block;
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
}
.navbar {
    z-index: 1000;
    display: flex;
    position: fixed;
    padding: 25px;
    width: 60%
    max-width: 85px;
    left: 0;
    z-index: 1000;
    background-color: black;
    box-shadow: 1px 0 3px -1px #4E4E51;
    top: 90px;
    height: 100%;
    opacity: 0;
}
.navbar--enter-active {
    transition: opacity 500ms easy-in;
}
.navbar--visible {
    transition: opacity 500ms easy-in;
    opacity: 1;
}
.navbar_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.navbar-item {
    width: 100%;
    padding: 25px;
}
.navbar_link, .navbar_link_avatar, .admin_link {
    position: relative;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 25px;
}
.admin_link {
    color: #767677;
}
.navbar_link_avatar {
    padding: 20px 25px 0 25px;
}
.navbar_link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: .5s;
}
.navbar_link:hover::before {
    width: 100%;
}
.main {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #696969;
    width: 480px;
    background-color: #E0E0E3;
    color: #000000;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0 60px;
}
.wrapper .input-file {
    width: 100%;
    height: 50px;
    margin: 30px 0 60px;
}
.input-file input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
    padding: 30px 30px 0px 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #696969;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #D3D3D3;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: left;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.remember-forgot input {
    ancient-color: #FFFFFF;
    margin-right: 3px;
}
.remember-forgot a {
    color: #FFFFFF;
    text-decoration: none;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #363639;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #696969;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.wrapper .register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.wrapper .register-link a {
    text-decoration: none;
    color: #08116B;
}
#avatar_profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    outline: 3px solid #fff;
}
#disclaimer {
    color:#F4A460;
    font-size: 30px;
}
.container.text {
    justify-content: space-between;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container.text a {
    text-decoration: none;
    color: #0f7afc;
}
.container.image {
    display: block;
    align-items: center;
}