@font-face {
  src: url("../static/fonts/Monserrat-Black.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    min-width: 600px;
    width: expression( document.body.clientWidth < 600 ? "600px" : "auto" );
    display: grid;
    min-height: 100vh;
    background: white no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    background: #000000;
    box-shadow: 0px 4px 21px -1px #4E4E51;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 100px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    display: block;
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
}
.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffe052;
  background-color: rgb(40 40 40 / 90%);
}

.container .navbar ul .close {
  display: none;
  text-align: left;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

.container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: black;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
.container .navbar ul li a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  height: auto;
  text-decoration: none;
  padding: 20px 25px;
  text-transform: uppercase;
}
.container .navbar ul .close {
    display: block;
}

.container .navbar ._Menus-show {
    left: 0;
}

.navbar_list {
    display: none;
    flex-direction: column;
    list-style-type: none;
}
.navbar-item {
    width: 100%;
    padding: 25px;
}
.navbar_link, .admin_link {
    position: relative;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 25px;
}
.admin_link {
    color: #767677;
}
.navbar_link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: 1.1s;
}
.navbar_link:hover::before {
    width: 100%;
}
.main {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #696969;
    width: 480px;
    background-color: #E0E0E3;
    color: #000000;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0 60px;
}
.wrapper .input-file {
    width: 100%;
    height: 50px;
    margin: 30px 0 60px;
}
.input-file input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
    padding: 30px 30px 0px 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #696969;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #D3D3D3;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: left;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.remember-forgot input {
    ancient-color: #FFFFFF;
    margin-right: 3px;
}
.remember-forgot a {
    color: #FFFFFF;
    text-decoration: none;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #363639;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #696969;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.wrapper .register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.wrapper .register-link a {
    text-decoration: none;
    color: #08116B;
}
#avatar_profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    outline: 3px solid #fff;
}
#disclaimer {
    color:#F4A460;
    font-size: 30px;
}
.container.text {
    justify-content: space-between;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container.text a {
    text-decoration: none;
    color: #0f7afc;
}
.container.image {
    display: block;
    align-items: center;
}
#input-description {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
footer {
  margin-top: 50px;
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75); /* Добавляем небольшую тень */
  align-self: flex-end;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body > footer {
    display: table-row;
}
#upper {
    font-size: 18;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.table {
    width: 80%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.orders_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #696969;
  border-radius: 10px;
}
th,
td {
  padding: 20px;
}

.table-header {
    margin-top: 10px;
    background-color: grey;
}

.table-elem {
    background-color: #DCDCDC;
}
.order-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}